*{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

@font-face {
	font-family: 'Poppins';
	src: 
		url(/webfonts/poppins/Poppins-Black.otf);
	font-weight: bolder;
	  
  }

@font-face {
	font-family: 'Poppins';
	src: 
		url(/webfonts/poppins/Poppins-Regular.otf);
	font-weight: normal;
	  
  }
  
  @font-face {
	font-family: 'Poppins';
	src: 
		url(/webfonts/poppins/Poppins-Light.otf);
	font-weight: lighter;
	  
  }

  

:root {
	--rojo-color: #FB2443;
	--azul-color: #130F1D;
	--blanco-color: #F0F3F5;
  }

  .container-fluid{
    background-color: var(--azul-color);
  }


.categoria {
    margin-right:0!important;
}

.navegacion{
    display: flex;
    justify-content: center;
    padding: 8px 32px;
    align-items: center;
    margin-top:12vh;
    background-color: #130F1D;
}


.barra{
    display: flex;
    list-style: none;
    margin-bottom:0;
    
}

.barra .active{
    color: var(--rojo-color);
    font-weight: bolder;
}

.barra a:hover{

    color: var(--rojo-color);
}

.barra a, .navegacion a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.barra a {
    margin: 0px 16px;
    padding: 16px 32px;
    transition: 0.1s ease-in all;
    color: var(--blanco-color);
    border: 1px transparent solid;
}

#navbar{
    background-color:var(--azul-color)!important;
    background: none;
}

#navbar div:first-child{
    display: flex;
    justify-content: space-between;
}

#navbar .barra{
    padding: 0;
}

#navbar .container{
   width: auto;
   margin: 0;
}

#navbar .logo{
    width: 128px;
}

main{
    width:100%; 
}

.trabajos{
    display: flex;
}


.card{
    height: 500px;
    width: 100%;
    padding:0!important;
    margin:0!important;
    display: flex;
    border-radius: 0;
    border: 0;
    animation: 0.3s ease-in-out all;
}



.card-image{
    width: inherit;
	height: inherit;
}

.card .card-image img {
    max-width: 100%;
	height: inherit;
    filter: brightness(0.2);
}

.card:hover{
    background-size: fill;
    filter: brightness(1.8);

}

 .card .card-title {
    position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
    color:white;
    text-decoration: none;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    animation: 3s ease-in all;
  }

.card-image img{
    max-width:100%;
    height:auto;
    width: 100%;
    object-fit: cover;
}

.barra-interior{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #1e1730;
    padding: 16px 32px;
    margin: 0;
    margin-top: 7%;
}

.barra-interior a{
    padding: 8px 16px;
    color: #b1b1b1;
    background-color: #1e1730;
    border-radius: 32px;
    text-decoration: none;
    font-size: 0.8rem;
    border: 1px transparent solid;
    transition: all 0.1s ease-in;
}
.barra-interior a:hover{
    padding: 8px 16px;
    color: white;
    border: 1px var(--rojo-color) solid;
    border-radius: 32px;
    text-decoration: none;
    font-size: 0.8rem;
}


.barra-interior h4{
    margin: 0;
    font-weight: lighter;
}

#image-gallery{
    display: flex;
    width: 100vw;
    margin: 32px auto;
    justify-content: center;
}

#main-image{
    width: 60vw;
    box-shadow: rgba(0,0, 0, 0.5) 0px 4px 12px;
    margin-right: 32px;
}

#miniaturas{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 2rem;
}

.miniatura{
    width: 100px;
    height: 100px;
    margin: 10px 0px;
    cursor: pointer;
    object-fit: cover;
    filter: brightness(0.7);
    transition: 0.2s ease-in all;
}

.miniatura:hover{
    filter: brightness(1);
}

.boton-extra{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.boton-extra a{
    color: white;
    padding: 8px 32px;
    color: white;
    border: 1px var(--rojo-color) solid;
    border-radius: 32px;
    text-decoration: none;
}

.boton-extra a:hover{
    padding: 8px 32px;
    color: white;
    background-color: var(--rojo-color);
    border: 1px var(--rojo-color) solid;
    border-radius: 32px;
    text-decoration: none;
}

@media(min-width:300px) and (max-width:768px){
    .navegacion{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px 0px;
        align-items: center;
    }

    .barra{
        padding: 0;
        margin: 0;
    }

    .barra a {
        margin: 0px 0px;
        padding: 8px 8px;
        transition: 0.1s ease-in all;
        color: var(--azul-color);
        font-size: 14px;
    }

    .navegacion a svg{
        display: none;
    }

    .trabajos{
        display: flex;
        flex-direction: column;
    }

    .card{
        height: 150px;
        width: 100%;
        background-size: cover;
        padding:0!important;
        margin:0!important;
        display: flex;
        border-radius: 0;
        border: 0;
        animation: 0.3s ease-in-out all;
    }
    
    .card .card-title {
        position: absolute;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        color:white;
        text-decoration: none;
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
      }

     

}

